* {
    box-sizing: border-box;
}
body{
    background: url("../images/17580.jpg") repeat-x;
    font-family: 'Raleway', sans-serif;
}
header {
    padding: 10px;
    text-align: center;
    margin: 2px;
    left: 50%;
}
nav {
    width: 100%;
    padding: 5px 1px;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover:not(.active) {
    border-radius: 10px;
    background-color: #809fd1;
}
.active{
    border-radius: 10px;
    background-color: #809fd1;
}
section:after{
    margin: auto;
    width: 100%;
    float: left;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.card{
    margin: 2px;
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 800px) {
    .columnLeft, .columnCenter, .footer {
        width: 100%;
    }
}
.columnLeft{
    float: left;
    width: 30%;
    text-align: left;
    margin-bottom: 5px;
}
.columnCenter{
    float: left;
    width: 70%;
    text-align: center;
    margin-bottom: 5px;
}
fieldset{
    margin: 3%;
    box-sizing: border-box;
}
#tableSingIn{
    width: 100%;
    padding: 1px 1px;
}
input[type=text], input[type=password], input[type=submit]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: #bdc5f0;
}
.fa {
    padding: 5px;
    margin: 5px;
}
#tableRates{
    width: 100%;
    padding: 1px 1px;
    text-align: center;
}
#tableRates tr:nth-child(even){
    background-color: #bdc5f0;
}
#tableRates tr:hover {
    background-color: #ddd;
}
#tableRates td{
    border: 1px solid #ddd;
    padding: 8px;
}
footer{
    width: 100%;
    margin-bottom: 5px;
}
.tableSecondary{
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    position: center;
}
.about img{
    border: 3px solid #ddd;
    border-radius: 0 50%;
    padding: 5px;
    width: 170px;
    margin: 0 50%;
}
.about h1{
    text-align: center;
}
.about .columnCenter{
    width: 100%;
}
#gridMain {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}
#gridMain div {
    padding: .5em;
    text-align: left;
}

.horo button, .horo select{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.horo table{
    width: 100%;
    padding: 1px;
}
/*Calc*/
.calc{
    margin: 3px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
}
.calc textarea{
    width: 100%;
    padding: 18px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    background-color: white;
    font-size: 32px;
    text-align: right;
    resize: none;
}
.calc button[name="plus"]{
    height: 126px;
    background:  #F97300;
}
.calc button{
    background-color: white;
    width: 80px;
    height: 60px;
    color: black;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.calc button:hover {
    background-color: #bdc5f0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}